{
  root: true,
  parser: "babel-eslint",
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module"
  },
  env: {
    browser: true,
    node: true
  },
  extends: "eslint:recommended",
  settings: {
    import/resolver: {
      webpack: {
        config: "build/webpack.base.conf.js"
      }
    }
  },
  rules: {
    "no-console": 0,
    "linebreak-style": 0
  }
}